<table class="mt-2 table">
    <thead>
        <tr>
            <th class="p-3">VIN</th>
            <th class="p-3">ODOMETRO</th>
            <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
            <th class="p-3">STATUS</th>
            <th class="p-3">LAT</th>
            <th class="p-3">LONG</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text">
            </td>
            <td class="p-3">23344Km</td>
            <td class="p-3">76%</td>
            <td class="p-3">ON</td>
            <td class="p-3">-12.2322</td>
            <td class="p-3">-35.2314</td>
        </tr>
    </tbody>
</table>