<title> Ford | Home</title>

<header class="navbar navbar-light bg-white border-bottom px-4 fixed-top d-flex justify-content-between align-items-center" style="height: 75px;">
  
  <div class="d-flex align-items-center gap-3">
    <app-menu></app-menu>
    <h4 class="mb-0 fw-bold" style="color: #003478;">FORD &lt;ENTER&gt;</h4>
  </div>

  <div class="position-absolute start-50 translate-middle-x">
    <img src="/img/logo-ford-256.png" height="40" alt="Ford Logo">
  </div>

  <div class="d-flex align-items-center">
    <button (click)="logout()" class="btn shadow-sm px-4 btn-custom-logout">
      Logout
    </button>
  </div>
  
</header>

<main class="container-fluid d-flex justify-content-center" style="margin-top: 100px;">
  <app-welcome></app-welcome>
</main>