<div class="d-flex gap-3">
    <div class="shadow border border-black p-3">
        <h1>Veículos</h1>
        <select>
            <option value="">Territory</option>
            <option value="">Mustang</option>
            <option value="">Bronco</option>
            <option value="">Ranger</option>
        </select>
    </div>

    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>

<div>
    <img src="http://localhost:3001/img/mustang.png" alt="">
</div>


<div>
    <app-car-table></app-car-table>
</div>