<div class="d-flex gap-3">
    <div class="shadow border border-black p-3">
        <h1>Veículos</h1>
        <select (change)="onVeiculoChange($event)">
            <option value="">Selecione um veículo</option>
            @for (item of veiculos; track item.id) {
                <option [value]="item.id">{{ item.vehicle }}</option>
            }
        </select>
    </div>

    <app-card [titulo]="'Total de Vendas'" [valor]="veiculoSelecionado?.volumetotal || 0" />
    <app-card [titulo]="'Conectados'" [valor]="veiculoSelecionado?.connected || 0" />
    <app-card [titulo]="'Update Software'" [valor]="veiculoSelecionado?.softwareUpdates || 0" />
</div>

@if (veiculoSelecionado) {
    <div class="my-4 text-center">
        <h3>{{ veiculoSelecionado.vehicle }}</h3>
        <img [src]="veiculoSelecionado.img" [alt]="veiculoSelecionado.vehicle" class="img-fluid" style="max-height: 250px;">
    </div>
}

<div>
    <app-car-table [dados]="dadosTabela" [vin]="vinSelecionado"></app-car-table>
</div>